footer {
    background-color: rgb(var(--background-variant1));
    border-bottom: 1px solid rgb(var(--business-dark));
    border-top: 1px solid rgb(var(--business-dark));
}

.footer-content {
    width: 100%;
    max-width: 1400px;
    justify-self: center;
    padding: 3vw 3vw;

    @media screen and (orientation:landscape) {
        display: grid;
        grid-template-areas:
            "top-left top-right"
            "hr hr"
            "bottom-left bottom-right";
        align-items: center;
    }

    @media screen and (orientation:portrait) {
        display: flex;
        flex-direction: column;
    }

}

footer .phrase {
    color: rgb(var(--business-grey));
}

footer p {
    color: rgba(var(--business-grey), 0.8);
}

.top-right {
    grid-area: top-right;
}

.top-right,
.bottom-right {
    justify-self: end;
}

.top-left {
    grid-area: top-left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width:350px;
}

footer hr {
    grid-area: hr;
    margin: 2rem 0;
    border-color: rgba(var(--business-grey), 0.6)
}

.bottom-left {
    grid-area: bottom-left;
    color: rgba(var(--business-grey), 0.6)
}

.bottom-right {
    grid-area: bottom-right;
}

.media-links {
    display: flex;
    flex-direction: row;
    gap: 15%;
}

.media-links svg {
    width: 1.5rem;
    height: 1.5rem;
    color: rgba(var(--business-gold), 0.8);
}

.legal-label {
    color: rgba(var(--business-grey), 0.9);
    margin-top: 2rem;
}

.legal-links {
    color: rgba(var(--business-white));
    margin-bottom: 1rem;
}

.legal-links li {
    padding-top: 1rem;
}