.gallery {
    background-color: rgb(var(--background-variant2));
}

.gallery-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    justify-self: center;
}

.images {
    display: flex;
    gap: 1rem;
    align-items:center;
    @media screen and (orientation: portrait) {
        flex-direction: column;
    }

    @media screen and (orientation: landscape) {
        flex-direction: row;
    }
}

.gallery img {
    background-color: red;
}

.gallery .small-images {
    display: grid;
    grid-template-areas:
        "image image"
        "image image";
    gap: 1rem;
    width: 100%;
    max-width: 40rem;
}

.gallery .large-image {
    width: 100%;
    max-width: 40rem;
    aspect-ratio: 1/1;
}

.gallery .small-image {
    width: 100%;
    max-width: 19.5rem;
    aspect-ratio: 1/1;
}