/* ===========================
   NAVIGATION BAR STYLES
   =========================== */
nav {

  background-color: rgb(var(--background-variant1));
  border-bottom: 1px solid rgb(var(--business-dark));

}

.nav-content {
  display: flex;
  min-height: 3rem;
  padding: 1vw 3vw;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  width: 100%;
  max-width: 1400px
}

/* ===========================
   NAV LINKS
   =========================== */
nav .links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  transition: 0.5s;

  & li:hover {
    transform: scale(0.95);
    opacity: 0.8;

    & a:not(.btn.primary) {
      border-bottom: 2px solid rgb(var(--business-gold));
    }
  }

  & li:active {
    filter: brightness(1.5);
  }
}

nav .links a {
  display: flex;
  align-items: center;
  color: rgb(var(--business-grey));
  font-weight: 500;
  font-size: var(--text-md);
  text-decoration: none;



  @media screen and (max-width:750px) {
    display: none;
  }
}




nav .links .btn.primary {
  padding: 0.25rem 0.25rem;
  background: rgb(var(--business-gold));
  color: rgb(var(--background-variant1));
}

.hamburger {
  display: none;

  @media screen and (max-width:750px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    background: none;
    border: none;
    color: rgb(var(--business-grey));
  }
}