/* ===========================
   NAVIGATION BAR STYLES
   =========================== */
nav {

  background-color: rgb(var(--background-variant1));
  border-bottom: 1px solid rgb(var(--business-dark));

}

.nav-content {
  display: flex;
  min-height: 3rem;
  padding: 1vw 3vw;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  width: 100%;
  max-width: 1400px;
}

.nav-col {
  flex-direction: column;
  padding-bottom: 1rem;
}

.non-link-elements {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* ===========================
   NAV LINKS
   =========================== */
nav hr {
  display: none;

  @media screen and (orientation:portrait) {
    width: 100%;
    border-color: rgb(var(--background-variant1));
    margin-top: 1vw;
    margin-bottom: 1rem;
  }

}

nav .links {
  display: flex;
  text-wrap: nowrap;
  transition: 0.5s;

  @media screen and (orientation:landscape) {
    align-items: center;
    gap: clamp(0.2rem, 0.6vw, 0.5rem);
  }

  @media screen and (orientation:portrait) {
    gap: 0.5rem;
    flex-direction: column;
    align-self: start;
    display: none;
  }

  & li:hover {
    transform: scale(0.95);
    opacity: 0.8;

    & a:not(.btn.primary) {
      border-bottom: 2px solid rgb(var(--business-gold));
    }
  }

  & li:active {
    filter: brightness(1.5);
  }
}

nav .links a {
  display: flex;
  align-items: center;
  color: rgb(var(--business-grey));
  font-weight: 500;
  font-size: var(--text-md);
  text-decoration: none;


}

.reveal {
  display: flex !important;
}

nav .links .btn.primary {
  padding: 0.25rem 0.25rem;
  background: rgb(var(--business-gold));
  color: rgb(var(--background-variant1));
}

.hamburger {
  display: none;

  @media screen and (orientation:portrait) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    background: none;
    border: none;
    color: rgb(var(--business-grey));
  }
}

.hamburger-open {
  display: none
}

.hamburger-exit {
  display: none;
}