.services {
    display: grid;
    background-color: rgb(var(--background-variant2));
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    max-width: 1400px;
    width: 100%;

    & footer {
        background-color: rgb(var(--business-dark), 0.3);
        border: 0.5px solid rgb(var(--business-dark), 0.5);
        width: 100%;
        margin-top: 1.5rem;
        padding: 0.75rem;
        color: rgb(var(--business-grey));

        @media screen and (max-width:900px) {
            font-size: var(--text-sm);
        }

        @media screen and (min-width:901px) {
            font-size: var(--text-md);
        }
    }

    & footer h3 {
        @media screen and (max-width:900px) {
            font-size: var(--text-sm);
        }

        @media screen and (min-width:901px) {
            font-size: var(--text-md);
        }
    }
}

.service-cards {
    @media screen and (max-width:900px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    @media screen and (min-width:901px) {
        display: grid;
        grid-template-areas:
            "restoration customization"
            "sharpening handle";
    }

    & .card {
        background-color: rgb(var(--background-variant1));
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;
        padding: 1rem;
        border: 0.5px solid rgb(var(--business-dark));
    }

    & .card svg {
        color: rgb(var(--business-white));
    }

    & .card p {
        color: rgb(var(--business-grey));

        @media screen and (max-width:900px) {
            font-size: var(--text-md);
        }

        @media screen and (min-width:901px) {
            font-size: var(--text-lg);
        }
    }

}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.price {
    color: rgb(var(--business-gold));

    @media screen and (max-width:900px) {
        font-size: var(--text-md);
    }

    @media screen and (min-width:901px) {
        font-size: var(--text-lg);
    }
}