.stats {
    background-color: rgb(var(--background-variant1));
    border-bottom: 1px solid rgb(var(--business-dark));
    display: flex;
}

.stats-container {
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    max-width: 1400px;
    width: 100%;
    padding: 1vw 3vw;
}

.stats span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: rgb(var(--business-grey));
    font-size: var(--text-xl);
    text-align: center;

    @media screen and (orientation:portrait) {
        font-size: var(--text-sm);

    }

    @media screen and (orientation:landscape) {
        font-size: var(--text-md);
    }
}

.stats .value {
    color: rgb(var(--business-gold));

    @media screen and (orientation:portrait) {
        font-size: var(--text-lg);
    }

    @media screen and (orientation:landscape) {
        font-size: var(--text-3xl);
    }
}