.testimonial {
    background-color: rgb(var(--background-variant1));
    border-top: 1px solid rgb(var(--business-dark));
    border-bottom: 1px solid rgb(var(--business-dark));
    display: grid;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    justify-self: center;
}

.testimonial-cards {
    display: flex;
    gap: 1rem;
    max-width: 94vw;

    @media screen and (max-width:900px) {
        flex-direction: column;
    }

    & .card {
        padding: 1rem;
        background-color: rgb(var(--background-variant2));
        border: 1px solid rgb(var(--business-dark));
    }

    & blockquote {
        color: rgb(var(--business-white));
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and (max-width:900px) {
            font-size: var(--text-md);
        }

        @media screen and (min-width:901px) {
            font-size: var(--text-lg);
        }
    }

    & blockquote .full-name {
        font-weight: 400;
        font-size: var(--text-2xl);
    }

    & blockquote .role {
        color: rgba(var(--business-grey), 0.8);
    }

    & hr {
        border-color: rgb(var(--business-dark));
    }

    & cite {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & .name {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    & .initials {
        display: inline;
        color: rgb(var(--business-gold));
        border: 1px solid rgb(var(--business-gold));
        background-color: rgba(var(--business-gold), 0.2);
        width: fit-content;
        border-radius: 100%;
        padding: 0.3rem;
    }

    & .quote-mark {
        font-size: var(--text-3xl);
        color: rgb(var(--business-gold));
    }
}